.cart__main {
  display: flex;
  margin-bottom: 100px;
}

.emptyCart__text {
  color: var(--text);
  font-size: 4vw;
}

.cart__products {
  flex: 3.5;
  margin-right: 3%;
}

.cart__product {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;

  background-color: var(--cartItemBgc);
  margin-bottom: 20px;

  padding: 2%;
}

.cart__imgContainer {
  flex: 1.25;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;

  width: 100%;
  height: calc(100vw / 10);
}

.cart__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  border-radius: 5px;
}
.cart__img:hover {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}

.cart__infoContainer {
  flex: 7;
  width: 80%;
  padding: 0 20px;
  height: calc(100vw / 10);
  /* 777 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__infoBlock {
  display: flex;
  justify-content: space-between;
  color: var(--text);
  font-weight: 500;
  font-size: 0.65vmax;
}

.cart__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.cart__infoTypeContainer {
  margin: 5px 0 10px;
}

.cart__infoType {
  text-transform: uppercase;
  font-size: 0.8em;
  background-color: var(--productTypeBgc);
  padding: 5px 7px;
  border-radius: 5px;
}

.cart__infoTitle {
  font-size: 2em;
}
.cart__infoTitle:hover {
  text-decoration: underline;
}

.cart__priceContainer {
  flex: 1;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3%;
  white-space: nowrap;
}

.cart__oldPrice {
  color: #777;
  text-decoration: line-through;
}

.cart__infoBtns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2%;
}

.cart__btn {
  border: none;
  outline: none;
  background-color: transparent;
  /* text-decoration: underline; */
  border-bottom: 1px solid var(--textDarker);
  color: var(--textDarker);
  font-size: 0.85vmax;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}
.cart__btn:hover {
  color: var(--text);
  border-bottom: 1px solid var(--text);
}

.cart__summary {
  flex: 1;
  font-size: 0.85vmax;
  color: var(--text);
  font-weight: 500;

  /* background-color: rgba(238, 130, 238, 0.1); */
}

.summary__title {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 10%;
}

.summary__info {
}

.summary__infoContainer {
  margin-bottom: 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary__desc {
  background-color: var(--cartItemBgc);
  padding: 3%;
  border-radius: 5px;
  margin-bottom: 10%;
  font-size: 0.9em;
}

.summary__descTitle {
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.summary__descText {
  color: var(--textDarker);
  font-weight: 400;
  line-height: 1.5em;
}

.summary__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}

.summary__brn {
  border: none;
  outline: none;
  background-color: #0074e4;
  color: var(--text);
  width: 100%;
  border-radius: 5px;
  padding: 5% 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.2s;
}

.summary__brn:hover {
  background-color: #2b8ce7;
}
