.filter__block {
  /* width: 245px; */
  flex: 1;
  margin-left: 2vw;

  font-size: 0.8vw;
}

.filter__title {
  color: #f5f5f5;
  font-weight: 500;
  padding: 1vw 0;
  margin-bottom: 0.5vw;
}

.filter__search {
  display: flex;
  align-items: center;
  background-color: #202020;
  height: 2vw;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0.5vw;
}

.filter__searchBtn {
  border: none;
  background: none;
  cursor: pointer;
  height: 100%;
  flex: 1;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter__searchInput {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
  flex: 4;
  color: #f5f5f5;
  outline: none;
  font-weight: 500;
}

.accordion {
}

.accordion__line {
  background-color: #333;
  height: 1px;
  border: none;
}

.accordion__summary {
  display: flex;
  justify-content: space-between;
  height: 4vw;
  align-items: center;
  cursor: pointer;
}

.summary__title {
  color: #777;
  font-weight: 700;
  transition: color 0.3s;
  display: flex;
}

.summary__icon {
  color: #777;
  transition: all 0.25s;
}

.accordion__summary:hover .summary__title,
.accordion__summary:hover .summary__icon,
.accordion__btn:hover {
  color: #f5f5f5;
}

.accordion__details {
  overflow: hidden;
}

.accordion__btn {
  transition: padding 0.5s, color ease-in-out 0.1s;
  padding: 0;
  max-height: 0;
  color: #777;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  color: transparent;
}

.accordion__check:checked ~ .accordion__details .accordion__btn {
  max-height: auto;
  padding: 1.5vw 0;
  color: #777;
}

.accordion__check:checked ~ .accordion__details .accordion__btn:hover {
  color: #f5f5f5;
}

.accordion__check:checked ~ .accordion__summary .summary__icon {
  transform: rotate(180deg);
}
