.navigation {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: var(--bgc);
  font-size: 0.8vw;
  font-weight: 700;
}

.flex__group {
  display: flex;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.171); */
  /* height: 100px; */
  height: 5vw;
}

.search {
  flex: 1.5;
}

.search__group {
  background-color: var(--searchBgc);
  height: 2vw;
  width: 80%;
  border-radius: 24px;
  display: flex;
  align-items: center;
  position: relative;
}

.search__btn {
  border: none;
  background: none;
  cursor: pointer;
  height: 100%;
  padding: 0.5vw;
  flex: 1;
  color: #777;
}

.search__input {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
  flex: 4;
  color: var(--text);
  outline: none;
}

.search__result {
  position: absolute;
  width: 100%;
  top: 120%;
  background-color: var(--searchBgc);
  color: var(--text);
  border-radius: 0.5vw;
  padding: 0.5vw;
  border-bottom: 0.2vw solid #0078f2;
  display: none;
}

.search__resultName {
  padding: 0.5vw 0;
  cursor: pointer;
}

.search__resultBtn {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text);
  cursor: pointer;
  font-weight: 700;
  padding: 0.5vw 0;
}

.search__resultName:hover,
.search__resultBtn:hover {
  text-decoration: underline;
}

.search__input:focus ~ .search__result {
  display: block;
}

.nav {
  flex: 7;
  display: flex;
  align-items: center;
}

.nav__list1 {
  flex: 1;
  display: flex;
  align-items: center;
}
.nav__list2 {
  display: flex;
  align-items: center;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 1vw;
  color: #777;
  transition: color 0.3s;
}
.nav__link.active,
.nav__link:hover {
  color: var(--text);
}

.nav__link_active {
  display: inline-block;
  padding: 1vw;
  color: var(--text);
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.cart__quantity {
  color: var(--bgc);
  background-color: var(--text);
  margin-left: 0.5vw;
  padding: 0.25vw 0.5vw;
  border-radius: 0.75vw;
}
