.contaier {
  flex: 1;
  overflow: hidden;
  min-width: 23%;
  max-width: 23%;

  margin-bottom: 3vw;
}

.product {
  width: 100%;
  cursor: pointer;
}

.product__imgContainer {
  width: 100%;
  height: 20vw;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.product__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s;
}
.product__img:hover {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}

.product__infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text);
  font-size: 0.8vmax;
  font-weight: 500;
}

.product__title {
  padding-top: 15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__priceContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
  gap: 10%;
}

.product__discount {
  background-color: #0074e3;
  padding: 5px 10px;
  border-radius: 4px;
}

.product__oldPrice {
  color: #777;
  text-decoration: line-through;
}

.product__price {
}
