.container {
  display: flex;
  position: relative;
}

.anchor {
  position: absolute;
  top: -5vw;
}

.catalog {
  /* width: 100%; */
  flex: 5;
}

.products__container {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}
