.container {
  width: 100%;
  margin-bottom: 5vw;
}

.title__block {
  color: var(--text);
  padding: 1.5vw 0;
  font-size: 1vw;
}

.requ__block {
  padding: 2vw;
  background-color: var(--sysRequBgc);
  border-radius: 5px;
  font-size: 0.9vw;
  font-weight: 500;
}

.requ__os {
  color: var(--text);
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding: 2vw 0;

  font-size: 0.7vw;
}
.requ__os span {
  border-bottom: 3px solid var(--text);
  padding: 1.85vw 0;
}

.requ__colName {
  display: flex;
  gap: 1vw;
  color: #777;
}

.requ__head {
  flex: 1;
  padding: 2vw 0;
}

.requ__col {
  display: flex;
  gap: 1vw;
  margin-bottom: 1vw;
}

.col {
  flex: 1;
}

.col__name {
  color: #777;
}

.col__value {
  color: var(--text);
}

.languages {
  padding: 2vw 0;
  /* border-bottom: 1px solid #333; */
}

.lang__title {
  margin-bottom: 0.3vw;
  color: #777;
}

.lang__list {
  color: var(--text);
}
