.top__nav {
  display: flex;
  align-items: center;
}

.top__navBtn {
  outline: none;
  border: none;
  border-radius: 50%;
  color: var(--text);
  background-color: var(--swiperBtnBgc);
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.top__navBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
